<h3>Blog</h3>
<div class="row">
  <div class="col l10">
    <p>Nossa atividade inicial e que cresce a cada dia são os conteúdos gratuitos direcionados a todos do blog e das redes sociais do One Bit Code.</p>

    <p>São conteúdos técnicos e não-técnicos em textos, vídeos, talks ao vivo e podcasts, criados para levar a todos um excelente material que de alguma forma possa auxiliá-lo em sua carreira ou estudos.</p>
  </div>
</div>
<p class="center-align"> <a href="/" class="btn waves-effect center-align">Voltar</a></p>
