<h3>Bootcamp</h3>
<div class="row">
  <div class="col l10">
    <p>O Bootcamp Super Full Stack é um curso intensivo de 6 meses onde desenvolvemos 10 APPs entre Twitter, Slack, Chatbot, entre outros.</p>

    <p>O foco é Ruby on Rails, mas adaptamos cada APP para a melhor e mais nova tecnologia para que o aluno obtenha um amplo conhecimento na área (ex.: Chatbot com Sinatra).</p>

    <p>Além disso, temos um grupo fechado no Slack com mais de 150 alunos trocando experiências 24 horas por dia.</p>

    <p>Curtiu essa imersão no mundo Super Full Stack? Então <a href="https://super.onebitcode.com/bootcamp">conheça o Bootcamp Super Full Stack.</a></p>
  </div>
</div>
<p class="center-align"> <a href="/" class="btn waves-effect center-align">Voltar</a></p>
