<h3>Cursos</h3>
<div class="row">
  <div class="col l10">
    <p>O OneBitCode também traz conteúdos em formato de curso para que você possa ter um melhor acompanhamento do que foi ensinado e registrar seu aprendizado no blog.</p>

    <p>Nesta seção temos <a href="https://onebitcode.com/cursos/">cursos</a> gratuitos e pagos, e em breve teremos muito mais conteúdos disponíveis para diversos níveis de conhecimento.</p>
  </div>
</div>
<p class="center-align"> <a href="/" class="btn waves-effect center-align">Voltar</a></p>
