<div class="collection with-header">
  <div class="collection-header"><h4>Conteúdos</h4></div>
  <a href="pages/blog" class="collection-item">BLOG</a>
  <a href="pages/courses" class="collection-item">CURSOS</a>
  <a href="pages/bootcamp" class="collection-item">BOOTCAMP</a>
</div>
